





* {
    box-sizing: border-box;
}
.NAVBAR {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

html,
body {
    color: #99a0b0 !important;
    width: 100%;
    background: #f5f5fa !important;
    font-size: 16px;
    line-height: 120%;
    font-family: Open Sans, Helvetica, sans-serif;
    overflow: auto !important;

    
}


.altosinistra {
    margin-left: 20px !important;
}

.dashboard {
    display: grid;
    width: 100%;
    height: 100%;
    grid-gap: 0;
    grid-template-columns: 300px auto;
    grid-template-rows: 80px auto;
  grid-template-areas: 'search search'
                       'content content';
}

.search-wrap {
	grid-area: search;
	background: #fff;
	border-bottom: 1px solid #7777c9;
	display: flex;
	align-items: center;
	justify-content: right;
	gap: 10em;
	padding: 0 3em;
	
	.search {
		height: 40px;
		width: 100%;
		margin-left: 20%;
		
		label {
			display: flex;
			align-items: center;
			height: 100%;
			
			svg {
				display: block;
				
				path,
				circle {
					fill: lighten(#99a0b0, 10%);
					transition: fill .15s ease;
				}
			}
			

			input {
				text-align: center;
				display: block;
				padding-left: 0em;
				height: 100%;
				width: 100%;
				margin: 0;
				border: 0;
				outline: none;
				background: #f5f5fa;
				
				&:focus {
					background: #f5f5fa;
					color: black;
					outline: none;
					border-bottom: 1px solid #7777c9;
				}
			}
			&:hover {
				svg {
					path,
					circle {
						fill: lighten(#1b253d, 10%);
						
					}
				}
			}
		}
	}
	




	.user-actions {
		display: flex	;
		button {
			border: 0;
			background: none;
			width: 32px;
			height: 32px;
			margin: 0;
			padding: 0;
			margin-left: 0.5em;
			
			svg {
				position: relative;
				top: 2px;
				
				path,
				circle {
					fill: lighten(#99a0b0, 10%);
					transition: fill .15s ease;
				}
			}
			
			&:hover {
				svg {
					path,
					circle {
						fill: lighten(#1b253d, 10%);
					}
				}
			}
		}
	}
}



.content-wrap {
	grid-area:  content;
	padding: 3em;
	overflow: auto;
	
	.content-head	{
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		h1 {
			font-size: 1.375em;
			line-height: 100%;
			color: #1b253d;
			font-weight: 500;
			margin-left: 0rem;
			padding: 0;
		}
		
		.action {
			button {
				border: 0;
				background: #4b84fe;
				color: #fff;
				width: auto;
				height: 3.5em;
				padding: 0 2.25em;
				border-radius: 3.5em;
				font-size: 1em;
				text-transform: uppercase;
				font-weight: 600;
				transition: background-color .15s ease;
				
				&:hover {
					background-color: darken(#4b84fe, 10%);
					
					&:active {
						background-color: darken(#4b84fe, 20%);
						transition: none;
					}
				}
			}
		}
	}
}




/* Mobile styles */
@media only screen and (max-width: 600px) {


	.user-actions {
		display: flex	;
		flex-direction: row;
	}

	.search-wrap {
		background-color: #fcfcfc;
		justify-content:right !important;
		gap: 0px !important;
		margin-right: -40px !important;
		margin-left: 80px !important;
		user-select: auto;
	}



    .dashboard {
        display: flex;
        flex-direction: column;
    }

    .content-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 {
		justify-self: left;
        font-size: 4rem !important;
		margin-left: 0 !important;
		margin-top: 30px !important;
    }
}