table{ 
    border: 1px solid;
    user-select: none;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
tr:hover {background-color: coral;}

.hidden{
    display: none;
}


.shown {
    display:table
}
