* {
  user-select: none;
}


h1 {
  color: white;
  font-size: 11rem !important;
}

.App-logo {
  height: 100vmin;
  max-height: 200px;
  pointer-events: none;
  margin-bottom: 100px;
}



.App-header {
  background-color: #0A043C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Links {
  display: flex;
  position: fixed;
  top: -80px !important;
  right: 50px !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 30px;
 
}

.login-link {
  color: #61dafb;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  width: 100%;
}

.login-link:hover {
  color: #ffffff;
  background-color: rgba(240, 248, 255, 0.123);
  padding: 5px 10px 5px 10px;
  border-bottom: solid 1px white;
}



/* ANIMATION */ 

.e-card {
  display: flex !important;
  margin: 0;
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  position: relative;
  width: 100%;
  height: 100vh;
  border-radius: 16px;
  overflow: hidden;
}



.icon {
  width: 3em;
  margin-top: -1em;
  padding-bottom: 1em;
}

.infotop {
  margin-top: -250px !important;
  
  text-align: center;
  font-size: 5vh;
  position: absolute;
  top: 5.6em;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.name {
  justify-self: center;
  width: 50%;
  font-size: 24px;
  font-weight: 100;
  position: relative;
  top: 1em;
  text-transform: lowercase;
  margin-top: 50px !important;
  padding: 20px;
  border-top: solid 1px white;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -30%;
  margin-top: -50%;
  background: linear-gradient(744deg,#0A043C,#03506F 60%,#A3DDCB);
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}
.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}
.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}
.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}
.wave:nth-child(2) {
  animation-duration: 50s;
}
.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}
.wave:nth-child(3) {
  animation-duration: 45s;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  html{
height: auto;
overflow-x: hidden !important;
  }




  .Links {
    top: -130px !important;
    right: -20px !important;
  }

  a.login-link {
    color: rgb(255, 255, 255);
    font-size:  1.5em !important; 
    background-color: #ffffff2f;
    border-right: 20px solid #0A043C;
  }

  a.login-link:hover {
    color: orangered;
    background-color: #ffffff;
    border-right: 20px solid #0A043C;
  }

  .App-logo {
    margin-bottom: 0px;
    margin-top: 1.5rem;
  }

  .titolo {
    font-size: 4.5rem !important;
    line-height: 1em;
    margin-bottom: 0;
  }

  .name {
    margin-top: 0 !important;
    font-size: em;
    width: 80%;
    height: auto;
    border: solid 0px white;
    background-color: #ffffff13;
    border-radius: 4px;
    padding: 20px;
  }
  
}